<html lang="en">
<head>
    <%- include ('./partials/_header'); %>
</head>
<body>
    <div class="flex">
        <div class="w-2/12 h-screen bg-blue-700 text-white p-5">
            <ul>
                <li class="p-3 mt-3 hover:bg-blue-600"><a href="/workout">All Workouts</a></li>
                <li class="p-3 mt-3 hover:bg-blue-600"><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <div class="w-10/12 px-10 py-7">
            <h2 class="text-3xl font-semibold text-gray-600">Dashboard</h2>
        </div>
    </div>
</body>
</html>